.work-zone-admin {
	width: 970px;
	margin: auto;
	padding: 40px 0 80px 0;
	font-size: 18px;
	font-family:"Quicksand", sans-serif;
}
.menu {
	font-size: 19px;
	text-align:center;
}
.main-menu {
	color: #3B566E;
	margin-left: 45px;
	font-family: "Quicksand", sans-serif;
}
.menu > div {
	display: inline-block;
	position:relative;
	line-height: 10px;
	width: 125px;
}
.main-menu:hover {
	font-family: cursive;
}
.menu > div:hover .drop-menu {
	display:block;
}
.drop-menu {
	display: none;
	background-color: #f3f3f3;
	position: absolute;
	text-align: left;
	padding: 5px 15px 15px 15px;
	margin: 5px 0 0 0;
	width: 100px;
}
.link {
	padding-top: 10px;
	line-height: 1.5;
}
.pointer {
	cursor:pointer;
}
.main-menu a:hover{
	color:#3a8ece;
}
.menu a {
	text-decoration: none;
	color: #3B566E;
	font-family: "Quicksand", sans-serif;
}
.drop-menu a {
	text-decoration: none;
	color: #3B566E;
	font-family: cursive;
}
.sp-cross {
	width: 18px;
	height: 18px;
	background-image: url(/skins/default/img/homer-sprites.jpg);
	background-position: -103px -12px;
	display: inline-block;
}
.sp-spear1 {
	width: 13px;
	height: 16px;
	background-image: url(/skins/default/img/homer-sprites.jpg);
	background-position: -131px -44px;
	display: inline-block;
}
.work-zone{
	width:80%;
	margin:auto;
	padding: 40px 0 20px 0;
	display:flow-root;
}
.footer-admin {
	margin-top: 80px;
	padding-top: 30px;
	padding-bottom:40px;
	background-color:#f3f3f3;
}
.text-line {
	font-size: 18px;
	font-family:"Quicksand", sans-serif;
	color: #3B566E;
	text-align: center;
	width: 75%;
	border-top: 1px solid gainsboro;
	margin: auto;
	padding-top: 40px;
}
.rev-edit {
	width: 990px;
	margin: auto;
	padding: 20px 0 20px 0;
}
.table-admin {
	font-size: 18px;
	font-family:"Quicksand", sans-serif;
}
.prod-parameter {
	font-size: 24px;
	font-weight: 700;
}
.prod-podrobnee {
	font-size:21px;
}
.prod-podrobnee a {
	text-decoration:none;
}
.prod-edit {
	margin: 15px 80px 15px 0;
	display:inline-block;
}
.cat-delete {
	float:right;
	font-size:21px;
	margin-right:20px;
}
#qwe {
	transform:scale(2.3);
	opacity:0.9;
	cursor:pointer;
}
.prod-cat {
	float:left;
	font-size:21px;
	width:45%;
}
.form-1 {
	float:left;
	margin-right:20px;
}
.form-2 {
	float:right;
}
.doc-head {
	font-size: 24px;
	font-family:"Quicksand", sans-serif;
	text-align:center;
}
.doc-text {
	font-size: 21px;
	font-family:"Quicksand", sans-serif;
}
.back-to-all-users {
	display: inline-block;
	margin-left: 757px;
}
.back-to-all-users a {
	text-decoration:none;
}
.back-to-all {
	margin-top:30px;
}
.container-forms{
	margin: 20px 10px 60px 10px;
}
.form-delimiter {
	float:left;
	margin-right:50px;
}
.form-delimiter-2 {
	float: left;
}
.prod-info {
	float: left;
	font-size: 21px;
	width: 45%;
	word-wrap:break-word;
}
.prod-img {
	display: inline-block;
	width: 55%;
	text-align: center;
}
.errors {
	color: #ff0000;
	font-size: 21px;
	font-family:"Quicksand", sans-serif;
}

.button-add {
	margin: 20px 0 0 0;
}
.clearfix:after {
	content: " ";
	display: table;
	clear: both;
}
.authors-edit {
	margin-left:124px;
}
.authors-edit-name {
	float: left;
	font-size: 21px;
	width: 16%;
}